html {
  -webkit-font-smoothing: antialiased;

  body {
    min-height: 100vh;
  }

  .dav-selection-box {
    border-radius: 5px;
    background-color: rgba(160, 84, 245, 0.14) !important;
  }

  .MuiTypography-root {
    font-size: 16px;
  }

  .MuiSvgIcon-root {
    font-size: 24px;
    color: rgba(142, 42, 254, 0.44);
  }

  .MuiInputBase-input {
    font-size: max(.6rem, 16px)
  }

  .MuiCheckbox-root {
    width: 30px;
    height: 30px;
  }

  .MuiFormLabel-root {
    font-size: max(.6rem, 16px)
  }

  .MuiTreeItem-label {
    font-size: 16px;
    user-select: none;
  }

}